<p id="notice"><%= notice %></p>

<h1>Drugs</h1>

<table>
  <thead>
    <tr>
      <th>Drug genericname</th>
      <th>Drug brandname</th>
      <th>Drug dosage</th>
      <th>Drug description</th>
      <th>Drug price</th>
      <th>Companies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= drug.drug_genericname %></td>
        <td><%= drug.drug_brandname %></td>
        <td><%= drug.drug_dosage %></td>
        <td><%= drug.drug_description %></td>
        <td><%= drug.drug_price %></td>
        <td><%= drug.companies_id %></td>
        <td><%= link_to 'Show', drug %></td>
        <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
        <td><%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drug', new_drug_path %>
